/* Google Fonts import MUST be first */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&family=DM+Sans:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'SundayRidges';
  src: url('/fonts/SundayRidges-Regular-BF68e4d37a89cbb.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
